body{
  background-color: #FAEBD7;
  background-image: url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
}

.heading{
  font-family: 'Cinzel Decorative';
  font-size: 22px;
}

.input{
  width: 80px;
  height: 80px;
}

#title{
  text-decoration: underline;
  text-align: center;
  font-display: auto;
}
